localenv/
.vscode/settings.json
excels/
*__pycache__/
build/
dist/
/terraform/learn-terraform-docker-container/.terraform.lock.hcl
/terraform/learn-terraform-docker-container/terraform.tfstate
/terraform/learn-terraform-docker-container/terraform.tfstate.backup
/terraform/learn-terraform-docker-container/.terraform/providers/registry.terraform.io/kreuzwerker/docker/2.24.0/windows_amd64
/testing/bash/export_variables.sh
node_modules/