# --- IDEs & System ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Python General ---
*__pycache__/
__pycache__/
*.py[cod]
*$py.class
*.spec
.ipynb_checkpoints/

# --- Environments & Node ---
.env
.venv/
venv/
env/
node_modules/

# --- Project Specifics ---

# ASX Project
ASX/output/
ASX/.pdf_cache/
ASX/.pytest_cache/

# Commodity Dashboard
FullStack/commodity_dashboard/frontend/.next/
FullStack/commodity_dashboard/backend/commodities_cache.json
FullStack/commodity_dashboard/frontend/src/api-client/

# Trading & Bots
Trading/
forex_arbitrage/

# Other
playground/Test/
build/
dist/
