localenv/
.vscode/
excels/
*__pycache__/
__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.spec

# Terraform
/terraform/learn-terraform-docker-container/.terraform.lock.hcl
/terraform/learn-terraform-docker-container/terraform.tfstate
/terraform/learn-terraform-docker-container/terraform.tfstate.backup
/terraform/learn-terraform-docker-container/.terraform/
.terraform/

# Testing
/testing/bash/export_variables.sh
/testing/*.log

# Node
node_modules/

# Streamlit
.streamlit/secrets.toml
.streamlit/config.toml
**/.streamlit/secrets.toml

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.idea/
.vscode/
